<html>
    <body>
        <h2>Counter</h2>
            <h3><%= session.count %> times.</h3>
            <a href="/double">
                <button onclick=href>Double Time</button>
            </a>
            <a href="/reset">
                <button onclick=href>Reset</button>
            </a>
    </body>
</html>