<html>
    <head>
        <meta charset="utf-8">
        <title>Mongooses</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type ="text/javascript"></script>
    </head>
    <body>
            <p><%= data.name %></p>
            <p><%= data.weight %></p>
            <p><%= data.phrase %></p>
            <a href="/">
                <button onclick="href">Go Back</button>
            </a>
    </body>
</html>