<html>
    <head>
        <meta charset="utf-8">
        <title>Quoting Dojo</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type ="text/javascript"></script>
    </head>
    <body>
        <h1>Quoting Dojo</h1>
            <form id='submit_form' action='/quotes' method='post'>
                Your Name: <input type='text' name='name'>
                Your Quote:<textarea rows="10" cols="50" type='text' name='quote'></textarea>
                <input id='submit_btn' type='submit' value='Submit'>
            </form>
            <a href="/quotes">
                <button onclick="href">Skip to Quotes!</button>
            </a>
        </div>
    </body>
</html>