<!DOCTYPE html>
<html land="en">
    <head>
        <title>Car Page</title>
    </head>
    <body>
        <h1>Welcome to the Cars Page!</h1>
        <img class="car_pics" src="http://localhost:7077/images/car1.jpg" alt="car1">
        <img class="car_pics" src="http://localhost:7077/images/car2.jpg" alt="car2">
        <img class="car_pics" src="http://localhost:7077/images/car3.jpg" alt="car3">
        <img class="car_pics" src="http://localhost:7077/images/car4.jpg" alt="car4">
        <div>
            <form action="/cars/new" method="POST">
                <input type="submit" value="Enter a new car">
            </form>
        </div>
    </body>
</html>