<!DOCTYPE html>
<html land="en">
    <head>
        <title>Dojos</title>
    </head>
    <body>
        <h1>Welcome to the Cars Page!</h1>
        <img class="cat_pics" src="http://localhost:7077/images/cat1.jpg" alt="cat1">
        <img class="cat_pics" src="http://localhost:7077/images/cat2.jpg" alt="cat2">
        <img class="cat_pics" src="http://localhost:7077/images/cat3.jpg" alt="cat3">
        <img class="cat_pics" src="http://localhost:7077/images/cat4.jpg" alt="cat4">
    </body>
</html>